@media (min-width:768px) and (max-width:960px){
main {
    height:700px;
    display: grid;
    grid-template: repeat(4,1fr)/repeat(5, 1fr);
}
#a{
    grid-row:1/span 1;
    grid-column:1/span 5;
    height:100px;

}
#b{
    grid-row:2/span 3;
    grid-column:1/span 1;
    height:600px;
}
#c{
    grid-row:2/span 1;
    grid-column:2/span 2;  
    height:200px; 
}
#d{
    grid-row:2/span 1;
    grid-column:4/span 2;   
    height:200px; 
}

#e{
    grid-row:3/span 1;
    grid-column:2/span 1; 
    height:250px;   
}

#f{
    grid-row:3/span 1;
    grid-column:3/span 1; 
    height:250px;  
}
#g{
    grid-row:3/span 1;
    grid-column:4/span 1;  
    height:250px; 
}
#h{
    grid-row:3/span 1;
    grid-column:5/span 1; 
    height:250px;  
}
#i{
    grid-row:4/span 1;
    grid-column:2/span 4;  
    height:150px; 
}
}

   
@media (min-width:480px) and (max-width:767px){
    main {
        height:700px;
        display: grid;
        grid-template: repeat(7,1fr)/repeat(2, 1fr);
    }
    #a{
        grid-row:1/span 1;
        grid-column:1/span 2;
        height:80px;
    
    }
    #b{
        grid-row:2/span 1;
        grid-column:1/span 2;
        height: 150px;

    }
    #c{
        grid-row:3/span 1;
        grid-column:1/span 2;  
        height:125px; 
    }
    #d{
        grid-row:4/span 1;
        grid-column:1/span 2;   
        height:125px; 
    }
    
    #e{
        grid-row:5/span 1;
        grid-column:1/span 1; 
        height:250px;  
    }
    
    #f{
        grid-row:5/span 1;
        grid-column:2/span 1;  
        height:250px;  
    }
    #g{
        grid-row:6/span 1;
        grid-column:1/span 1;  
        height:250px; 
    }
    #h{
        grid-row:6/span 1;
        grid-column:2/span 1; 
        height:250px; 
        height:250px; 
    }
    #i{
        grid-row:7/span 1;
        grid-column:1/span 2;  
        height:80px; 
    }
}